.dash,
.res,
.fin {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 26px;
    line-height: 31.69px;
    letter-spacing: 0%;
    color: rgba(34, 34, 34, 1);
    text-align: left;
    margin-bottom: 41px;
    margin-left: 48px;
}

.searchInpt {
    background-color: white;
    background-image: url('./Search.svg');
    background-position: left 13px center;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 37px;
    width: 914px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid rgba(235, 235, 235, 1);
    font-family: Roboto;
    color: rgba(71, 71, 71, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0px;
}

.btn {
    width: 95px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-results {
    background-color: rgba(46, 229, 172, 1);
    color: #ffffff;
}

.btn-results:hover {
    background-color: rgb(43, 213, 159);
}

.btn-finalize {
    background-color: rgba(125, 125, 125, 1);
    color: #ffffff;
}

.btn-finalize:hover {
    background-color: rgba(100, 100, 100, 1);
}

.btn:focus {
    border: none;
    outline: none;
}

.btn:active {
    border: none;
    outline: none;
}

.site-indicator {
    width: 4px;
    height: 70px;
    border-radius: 3px 0 0 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.site-market {
    background: rgba(225, 65, 101, 1);
}

.site-games {
    background: rgba(134, 134, 255, 1);
}

.site-delivery {
    background: rgba(194, 194, 255, 1);
}

.site-default {
    background: rgba(200, 200, 200, 1);
}

.table-cont {
    width: 1054px;
    gap: 30px;
}

table {
    width: 954px;
    margin-left: 48px;
    margin-right: 52px;
    border-radius: 3px;
    border-collapse: separate;
    background-color: rgb(249, 249, 249);
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 0%;
    color: rgba(92, 92, 92, 1);
    gap: 30px;
    border-spacing: 0 5px;
}

td {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 3px;
    text-align: start;
}


td.table-row {
    position: relative;
    padding-left: 11px;
    display: flex;
    align-items: center;
    height: 40px;
}

th {
    cursor: pointer;
    background-color: rgb(249, 249, 249);
    padding: 15px;
    text-align: start;
}

tr {
    height: 70px;
    background-color: #ffffff;
    border-radius: 3px;
}

th.table-row tr:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
}

.tableHead:hover {
    box-shadow: none;
}

.actionPage {
    justify-content: start;
    align-items: start;
    height: 800px;
    width: 1054px;
}

.additText {
    font-weight: 600;
    font-size: 14px;
    color: rgba(34, 34, 34, 1);
    line-height: 17.07px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 48px;
    justify-content: start;
    align-items: start;
}